@(tweets: List[(String, models.Tables.TweetRow)])

@main("ツイート一覧") {
<div id="tweet-form">
    <form action="@routes.TweetController.create()" class="container" role="form">
        <fieldset>
            <div class="form-group">
                <textarea cols="80" rows="5" v-model="form.content"></textarea>
            </div>
            <div>
                <input type="button" value="ツイート" class="btn btn-success" v-attr="disabled: form.content.length === 0" v-on="click: onClick">
            </div>
        </fieldset>
    </form>
</div>

<div class="col-xs-10">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>名前</th>
        <th>内容</th>
        <th>登録日時</th>
        @*<th>削除</th>*@
      </tr>
    </thead>
    <tbody>
    @tweets.map { case (name, tweet) =>
      <tr>
        <td>@name</td>
        <td>@tweet.content<td>
        <td>@tweet.insTime</td>
        @*<td><a href="@routes.TweetController.remove(tweet.id)">削除</a></td>*@
      </tr>
    }
    </tbody>
  </table>
</div>
}
