@(users: List[(models.Tables.TwiUserRow, Boolean, Boolean)], userName: String)

@main("ユーザ一覧", userName) {
<div class="col-xs-10">
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>名前</th>
            <th>フォロー／解除</th>
            <th>被フォロー</th>
        </tr>
    </thead>
    <tbody>
    @* ユーザの一覧をループで出力 *@
    @users.map { case (user, follow, followed) =>
        <tr>
            <td><a href="@routes.TweetController.list(user.name)">@user.name</td>
            <td>
                @if(follow) {
                    <a href="@routes.FollowController.unfollow(user.id)">フォロー解除</a>
                } else {
                    <a href="@routes.FollowController.watch(user.id)">フォローする</a>
                }
            </td>
            <td>
                @if(followed) {
                    フォローされています
                }
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
}