@(title: String, logIn: Boolean = true)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/vendor/vue.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            @common.navi(logIn)
            @content
        </div>
    </body>
</html>
