@(signForm: Form[controllers.SignController.SignForm], message: String)

@import helper._

@main("トップ") {
    <div>
        @if(!message.isEmpty) {
            <div class="alert alert-danger">@message</div>
        }
        @form(action = routes.SignController.authenticate(), 'class -> "container", 'role -> "form"){
            <fieldset>
                <div class="form-group">
                    @inputText(signForm("name"), '_label -> "ユーザー名")
                </div>
                <div class="form-group">
                    @inputPassword(signForm("password"), '_label -> "パスワード")
                </div>
                <div>
                    <input type="submit" value="サインイン" class="btn btn-success">
                </div>
            </fieldset>
        }
    </div>
}