@(userName: String)

<div style="margin-bottom: 15px;">
    <ul class="nav nav-tabs">
        @if(userName.nonEmpty) {
            <li><a href="/home">タイムライン</a></li>
            <li><a href="/user/list">ユーザー</a></li>
            <li><a href="/tweet/list/@userName">ツイート</a></li>
            <li><a href="/user/edit">アカウント編集</a></li>
            <li><a href="/sign/signOut">サインアウト</a></li>
        } else {
            <li><a href="/">トップ</a></li>
            <li><a href="/user/edit">新規登録</a></li>
        }
    </ul>
</div>
