@(logIn: Boolean)

<div>
    <ul class="nav nav-tabs">
        @{
            if (logIn) {
                <li><a href="/home">タイムライン</a></li>
                <li><a href="/tweet/list">ツイート一覧</a></li>
                <li><a href="/user/list">ユーザー一覧</a></li>
                <li><a href="/user/edit">アカウント編集</a></li>
                <li><a href="/sign/signOut">サインアウト</a></li>
            } else {
                <li><a href="/">トップ</a></li>
                <li><a href="/user/edit">新規登録</a></li>
            }
        }
    </ul>
</div>
